<section id="footer" class="spotlight style2">
  <div class="inner">
    <h2 class="major">Entre em contato</h2>
    <p>Ficaremos gratos se você entrar em contato para conversarmos!<br> Tire dúvidas, agende uma visita em sua residência ou venha até nosso estabelecimento.<br> Você é sempre bem-vindo!</p>
    <form method="post" action="https://formspree.io/infosatbg@gmail.com">
      <div class="field">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="field">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" />
      </div>
      <div class="field">
        <label for="message">Mensagem</label>
        <textarea name="message" id="message" rows="4"></textarea>
      </div>
      <ul class="actions">
        <li><button type="submit" name="_next" value="//infosatbg.com.br/">Enviar</button></li>
      </ul>
    </form>
    <ul id ="contato" class="contact">
      <li class="fa-home">
        Infosat<br />
        Av. São Roque, n° 700, sala 6.<br />
        Bento Gonçalves, RS 95705-218
        <a href="https://goo.gl/maps/duY7ApTvKBp" target="_blank"><i class="fa fa-location-arrow"></i></a>
      </li>
      <li class="fa-phone">(54) 3705-1490</li>
      <li class="fa-envelope"><a href="mailto:contato@infosatbg.com.br">contato@infosatbg.com.br</a></li>
      <li class="fa-facebook"><a href="http://www.facebook.com/InfosatBG">facebook.com/infosatbg</a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; InfoSat Bento Gonçalves. Todos direitos reservados.</li><li>Desenvolvido <i class="fa fa-heart"></i> por: <a href="https://doseextra.com">Dose Extra Multimídia</a></li>
    </ul>
  </div>
</section>
