  <h1><a href="{{ .Site.BaseURL }}" class="navlogo"><img src="images/logomenu.png" class="navlogo" alt="InfoSat"></a></h1>

  <nav>
    <div class=" topmenu inner nav-wrapper">
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars" aria-hidden="true"></i></a>
    <ul class="links">
      <li><a href="{{ .Site.BaseURL }}">Início</a></li>
      <li><a href="{{ .Site.BaseURL }}/servicos/">Serviços</a></li>
      <li><a href="{{ .Site.BaseURL }}/sobre/">Empresa</a></li>
      <li><a href="{{ .Site.BaseURL }}/#footer">Contato</a></li>
      <li><a href="http://facebook.com/infosatbg" target="_blank" ><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
    </ul>
    <ul class="side-nav amobile" id="mobile-demo">
      <li><a class="amobile" href="{{ .Site.BaseURL }}">Início</a></li>
      <li><a class="amobile" href="{{ .Site.BaseURL }}/servicos/">Serviços</a></li>
      <li><a class="amobile" href="{{ .Site.BaseURL }}/sobre/">Empresa</a></li>
      <li><a class="amobile" href="{{ .Site.BaseURL }}/#footer">Contato</a></li>
      <li><a class="amobile" href="http://facebook.com/infosatbg"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  </nav>
