<!DOCTYPE HTML>
<html lang="pt">
	{{ partial "head.html" . }}
	<body>


			<div id="page-wrapper">

        <header id="header" class="alt">
					{{ partial "header.html" . }}
        </header>


					<section id="banner">
						<div class="inner">
							<div class="logo"><img src="/images/logo.png" class="icon" alt="InfoSat"></div>
							<h1>Todos os sinais nos levam até você!</h1>
						</div>
					</section>


					<section id="wrapper">
					</section>
				</div>

							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="#" class="image"><img src="images/Antenas-site.jpg" alt="Antenas digitais e analógicas" /></a>
									<div class="content">
										<h2 class="major">Antenas</h2>
										<p>Você já está por dentro da <a href="http://link.estadao.com.br/noticias/geral,tire-suas-duvidas-sobre-o-desligamento-do-sinal-analogico-de-tv-no-brasil,10000084857" target="_blank" style="color:#edd81c">adequação do sinal digital</a>? Pois saiba que em um futuro muito próximo o sinal analógico será extinguido no país todo. Isso é tão verdade que Brasília já se tornou o <a href="https://goo.gl/9aGYqF" target="_blank" style="color:#edd81c">primeiro estado do país a desligar o analógico</a> por completo e logo provavelmente a sua região também irá. Essa é uma mudança que se torna bem-vinda para o cotidiano das pessoas, pois o digital proporciona uma qualidade de imagem muito melhor! É por isso que a Infosat conta com uma linha completa de antenas e conversores digitais, além de repetidores de sinal de celular. Prezamos pela qualidade da adequação, contando com profissionais próprios e comprometidos que podem levar o melhor sinal possível para a sua televisão.</p>
										<a href="{{ .Site.BaseURL }}/servicos/instalacao-de-antenas/" class="special">Saiba mais</a>
									</div>
								</div>
							</section>


							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="#" class="image"><img src="images/oi-tv-site.jpg" alt="Representante oficial OiTV para a Serra Gaúcha" /></a>
									<div class="content">
										<h2 class="major">Oi TV</h2>
										<p>A Infosat é credenciada da renomada operadora pertencente a Oi. A <a href="https://goo.gl/bYfksn" target="_blank" style="color:#edd81c">Oi TV</a> atua via satélite SES-6 e com tecnologia DTH em todo o território nacional. Ela disponibiliza para seus assinantes canais HD a partir de seu plano básico e se destaca por ser a operadora DTH em o maior número de canais em alta definição no Brasil.<br>
s
											A <a href="https://goo.gl/1PKqrh" target="_blank" style="color:#edd81c">Oi TV Livre</a> é a melhor opção para quem deseja ter sinal digital com uma antena compacta e de baixa manutenção. É também, sem dúvidas, a alternativa definitiva para quem deseja substituir a sua antiga parabólica por um serviço de qualidade. Com ela você pode obter a programação local com <a href="https://goo.gl/1PKqrh" target="_blank" style="color:#edd81c">RBS HD regional livre</a> e ainda ter a sua disposição diversos pacotes.<br> Para conhecer mais sobre a Oi TV Livre, clique no "saiba mais".</p>
										<a href="{{ .Site.BaseURL }}/servicos/oitv/" class="special" target="_blank" >Saiba mais</a>
									</div>
								</div>
							</section>


							<section id="three" class="wrapper spotlight style3">
								<div class="inner">
									<a href="#" class="image"><img src="images/cameras-site.jpg" alt="Tudo em suprimentos em eletrônica e informática" /></a>
									<div class="content">
										<h2 class="major">Câmeras de Segurança</h2>
										<p>A Infosat oferece segurança para você que procura tornar a sua residência, condomínio, prédio ou negócio mais protegido. Com a <a href="https://goo.gl/QLj4z0" target="_blank" style="color:#edd81c">crescente insegurança que vivenciamos</a>, cuidar de sua propriedade se torna cada vez mais necessário, por isso, câmeras de segurança se tornam uma opção bem-vinda.

Mas escolher um desses aparelhos não  parece ser a escolha mais simples do mundo. Existem vários modelos, com zoom, infravermelho, diferentes resoluções e formatos. Para isso você pode entrar em contato com a Infosat para se informar e entender qual é a melhor opção para o seu caso! Oferecemos sistema de <a href="https://goo.gl/SUg54V" target="_blank" style="color:#edd81c">CFTV</a>, câmeras de segurança e <a href="https://goo.gl/r61XiD" target="_blank" style="color:#edd81c">DVR</a> <a href="http://www.intelbras.com.br/" target="_blank" style="color:#edd81c">Intelbras</a>.</p>
										<a href="{{ .Site.BaseURL }}/servicos/seguranca/" class="special">Saiba mais</a>
									</div>
								</div>
							</section>

						<section id="four" class="wrapper alt spotlight style2">
							<div class="inner">
								<a href="#" class="image"><img src="images/Eletronicos-site.jpg" alt="Representante oficial Intelbras na Serra Gaúcha" /></a>
								<div class="content">
									<h2 class="major">Eletrônicos</h2>
									<p>Em <a href="https://www.facebook.com/InfosatBG/" target="_blank" style="color:#edd81c">nossa loja</a> você pode achar os mais variados itens relacionados a informática e suprimentos eletrônicos. Desde os mais comuns, como pendrives, cópias de controle de alarme/portão, roteadores e pilhas até a mais completa linha de cabos (áudio/vídeo, VGA, HDMI, USB, cabo de energia).

A Infosat é também credenciada da <a href="http://intelbras.com.br" target="_blank">Intelbras</a>, empresa que atua nas áreas de segurança, telecom e redes. Você pode conferir vários de seus itens em nossa loja, desde uma linha completa de telefonia e e vídeoporteiro até câmeras de segurança.</p>
									<a href="{{ .Site.BaseURL }}/servicos/eletronicos/" class="special">Saiba mais</a>
								</div>
							</div>
						</section>


		<div class="color">
							<section id="five" class="wrapper  sobre style3">
								<div class="inner">
									<h2 class="major">Nossa história</h2>
									<p>Em 1996, <a href="https://www.facebook.com/joel.nuncio.3" target="_blank" style="color:#edd81c">Joel Núncio</a>, junto com um amigo na pequena cidade de Muçum, abria as portas de uma negócio especializado em <a href="https://pt.wikipedia.org/wiki/Antena_parab%C3%B3lica" target="_blank" style="color:#edd81c">antenas parabólicas</a>. Na época, a maneira de ter um sinal de TV dentro de uma residência era através de uma antena parabólica. Esses itens colossais tinham tamanhos de 2,80 cm e 3 m de diâmetro. A montagem e a instalação na casa do cliente exigia um tempo enorme, metade de um dia no mínimo.
Em todos esses anos a tecnologia evoluiu drasticamente, tendo como principal ponto a ser observado o tipo de sinal, <a href="http://redeglobo.globo.com/tv-digital/noticia/tv-digital-tire-suas-duvidas-sobre-as-mudancas-no-sinal-analogico.ghtml" target="_blank" style="color:#edd81c"> do analógico para o digital</a>. Das televisões em preto e branco para uma com tecnologia 4K. Todas essas mudanças foram sendo absorvidas pelo profissional que hoje atua também em Bento Gonçalves, sob o nome da Infosat.

A qualidade do atendimento, o cuidado na instalação, compromisso com horário e flexibilidade no pagamento são as principais qualidades que a Infosat oferece para seu cliente!

Contamos com técnicos próprios, preparados para a instalação de basicamente qualquer tipo de antena, câmeras de segurança, interfones, telefones, sensores de presença e de fumaça, entre tantos outros serviços.</p>


								</div>
							</section>
              {{ partial "footer.html" . }}
				</div>

        {{ partial "scripts.html" . }}

</body>
</html>
