<body class="antenas" id="eletronicos">


    <div id="page-wrapper">

      <header id="header" class="">
        {{ partial "header.html" . }}
      </header>

      </div>
      <div class="color">
        <section id="one" class="wrapper style3">
          <div class="inner">
            <div class="content">
              <h2 class="major">Suprimentos eletrônicos e de informática</h2>
              <p>Em nossa loja você pode achar os mais variados itens relacionados a informática e suprimentos eletrônicos.
                Desde os mais comuns, como pendrives, cópias de controle de alarme/portão, roteadores e pilhas até a mais completa linha de cabos (áudio/vídeo, VGA, HDMI, USB, cabo de energia).
                <br></p>

              <h3>Equipamentos eletrônicos de qualidade</h3>
              <p>A Infosat trabalha com os melhores fornecedores e se preocupa em trazer para Bento Gonçalves e região, o que há de mais avançado. Na loja você pode encontrar
                suprimentos de informática, eletrônica e automação residencial. Contamos com uma linha de aparelhos que transformam qualquer TV em Smart, adicionando recursos de internet, exibição de filmes online e jogos.
                Também contamos com uma equipe especializada e com mais de 20 anos de mercado, preparada para oferecer os melhores produtos.<p>
              <h3>Intelbras e Infosat</h3>
              <p>A Infosat é também credenciada da Intelbras, empresa que atua nas áreas de segurança, telecom e redes. Você pode conferir vários de seus itens em nossa loja, desde uma linha completa de telefonia e e vídeoporteiro até câmeras de segurança.</p>

              <br >
              <br >
              <h3>Acabe com suas dúvidas</h3>
              <p>Nossa equipe está preparada para tirar todas suas dúvidas.<br>
                Envie um e-mail e agenda uma visita!</p>
            </div>
          </div>
        </section>
    {{ partial "footer.html" . }}
      </div>


  <!-- Scripts -->
  {{ partial "scripts.html" . }}
</body>
