<body class="antenas">


    <div id="page-wrapper">

      <header id="header" class="">
        {{ partial "header.html" . }}
      </header>

      </div>
      <div class="color">
        <section id="one eletronicos" class="wrapper style3">
          <div class="inner">
            <div class="content">
              <h2 class="major">Soluções em Segurança Patrimonial</h2>
            <br><p>A Infosat oferece <b>segurança para você que procura tornar a sua residência, condomínio, prédio ou negócio mais protegido</b>.<br>
              Com a crescente insegurança que vivenciamos, cuidar de sua propriedade se torna cada vez mais necessário, por isso, câmeras de segurança se tornam uma opção bem-vinda. Mas escolher um desses aparelhos não parece ser a escolha mais simples do mundo.</p><br>
              <h3>Equipamentos modernos</h3>
              <p> Existem vários modelos, com zoom, infravermelho, diferentes resoluções e formatos. Para isso você pode entrar em contato com a Infosat para se informar e entender qual é a melhor opção para o seu caso! Oferecemos sistema de CFTV, câmeras de segurança e DVR Intelbras.</p>
              <br >
              <br >
              <h3>Acabe com suas dúvidas!</h3>
              <p>Nossa equipe está preparada para tirar todas suas dúvidas.<br>
                Envie um e-mail e agenda uma visita!</p>
            </div>
          </div>
        </section>
    {{ partial "footer.html" . }}
      </div>


  <!-- Scripts -->
  {{ partial "scripts.html" . }}
</body>
