<body class="antenas" id="antenas">


    <div id="page-wrapper">

      <header id="header" class="">
        {{ partial "header.html" . }}
      </header>

      </div>
      <div class="color">
        <section id="one" class="wrapper style3">
          <div class="inner">
            <div class="content">
              <h2 class="major">Venda e instalação de Antenas</h2>
              <h3>Você já está por dentro da adequação do sinal digital?</h3>
                <p>Pois saiba que em um futuro muito próximo o sinal analógico será extinguido no país todo. Isso é tão verdade que Brasília já se tornou o primeiro estado do país a desligar o analógico por completo e logo provavelmente a sua região também irá. Essa é uma mudança que se torna bem-vinda para o cotidiano das pessoas, pois o digital proporciona uma qualidade de imagem muito melhor!
                <br>É por isso que a Infosat conta com uma linha completa de antenas e conversores digitais, além de repetidores de sinal de celular. Prezamos pela qualidade da adequação, contando com profissionais próprios e comprometidos que podem levar o melhor sinal possível para a sua televisão.</p>
                <h3>Repetidores de sinal</h3>
                <p>Algumas regiões do Brasil ainda não são inteiramente contempladas pela cobertura de sinal de operadoras móveis. É tão verdade, que, mesmo em regiões com turismo rural forte, como Bento Gonçalves, algumas localidades simplesmente não é possível fazer uma ligação
                  ou usar internet 4G. Nem mesmo as operadoras cabeadas demonstram interesse nessas localidades, devido principalemente, pela baixa densidade habitacional.
                  <br ><b>A comunicação fica totalmente inviável</b>, mesmo com os aparelhos celulares mais caros. Pensando nisso é que a Infosat buscou e trouxe para a região, as melhores soluções que visam sanar essas dificualdades.<br>
                  Estamos falando de repetidores de sinal e antenas externas, equipamentos que captam o fraco sinal e redistribuem, ampliando e cobrindo toda a casa. Assim é possível utilizar o celular para ligações e acesso à internet sem qualquer problema.</p>
                <h3>Conversores digitais</h3>
                <p>Com a mudança do padrão da TV aberta brasileria, muitas televisões ficarão de fora e não serão capazes de exibir os canais de TV. Um pesadelo, pensando que muitas das TVs são equipamentos relativamente novos e que foi investido um bom valor em sua aquisição.
                  <br>Para resolver esse problema, a Infosat conta com os <b>conversores mais modernos</b>, que além de proporcionarem a melhor imagem, adicionam novas funções para sua TV.<br>
                <b>A melhor imagem, em todas as televisões!</b></p>
                <br >
                <br >
                <h3>Acabe com suas dúvidas!</h3>
                <p>Nossa equipe está preparada para tirar todas suas dúvidas.<br>
                  Envie um e-mail e agenda uma visita!</p>

            </div>

          </div>
        </section>
    {{ partial "footer.html" . }}
      </div>


  <!-- Scripts -->
  {{ partial "scripts.html" . }}
</body>
