<body class="antenas">


    <div id="page-wrapper">

      <header id="header" class="">
        {{ partial "header.html" . }}
      </header>

      </div>
      <div class="color">
        <section id="one eletronicos" class="wrapper style3">
          <div class="inner">
            <div class="content">
              <h2 class="major">TV à cabo e Oi Tv</h2>
              <p>A Infosat é credenciada da renomada operadora pertencente a Oi.<br>
               A Oi TV atua via satélite SES-6 e com tecnologia DTH em todo o território nacional. Ela disponibiliza para seus assinantes canais HD a partir de seu plano básico e se destaca por ser a operadora DTH em o maior número de canais em alta definição no Brasil.</p>
               <h3>Oi TV Livre</h3>
               <p>A Oi TV Livre é a melhor opção para quem deseja ter sinal digital com uma antena compacta e de baixa manutenção. É também, sem dúvidas, a alternativa definitiva para quem deseja substituir a sua antiga parabólica por um serviço de qualidade. Com ela você pode obter a programação local com RBS HD regional livre e ainda ter a sua disposição diversos pacotes.
               <br>Para conhecer mais sobre a Oi TV Livre, clique aqui.</p>

               <br >
               <br >
               <h3>Acabe com suas dúvidas!</h3>
               <p>Nossa equipe está preparada para tirar todas suas dúvidas.<br>
                 Envie um e-mail e agenda uma visita!</p>


            </div>
          </div>
        </section>
    {{ partial "footer.html" . }}
      </div>


  <!-- Scripts -->
  {{ partial "scripts.html" . }}
</body>
