<body class="antenas">


    <div id="page-wrapper">

      <header id="header" class="">
        {{ partial "header.html" . }}
      </header>

      </div>
      <div class="color">
<section id="five sobre" class="wrapper  sobre style3">
  <div class="inner">
    <h2 class="major">Nossa história</h2>
    <p>Em 1996, <a href="https://www.facebook.com/joel.nuncio.3" target="_blank" style="color:#edd81c">Joel Núncio</a>, junto com um amigo na pequena cidade de Muçum, abria as portas de uma negócio especializado em <a href="https://pt.wikipedia.org/wiki/Antena_parab%C3%B3lica" target="_blank" style="color:#edd81c">antenas parabólicas</a>. Na época, a maneira de ter um sinal de TV dentro de uma residência era através de uma antena parabólica. Esses itens colossais tinham tamanhos de 2,80 cm e 3 m de diâmetro. A montagem e a instalação na casa do cliente exigia um tempo enorme, metade de um dia no mínimo.
Em todos esses anos a tecnologia evoluiu drasticamente, tendo como principal ponto a ser observado o tipo de sinal, <a href="http://redeglobo.globo.com/tv-digital/noticia/tv-digital-tire-suas-duvidas-sobre-as-mudancas-no-sinal-analogico.ghtml" target="_blank" style="color:#edd81c"> do analógico para o digital</a>. Das televisões em preto e branco para uma com tecnologia 4K. Todas essas mudanças foram sendo absorvidas pelo profissional que hoje atua também em Bento Gonçalves, sob o nome da Infosat.

A qualidade do atendimento, o cuidado na instalação, compromisso com horário e flexibilidade no pagamento são as principais qualidades que a Infosat oferece para seu cliente!

Contamos com técnicos próprios, preparados para a instalação de basicamente qualquer tipo de antena, câmeras de segurança, interfones, telefones, sensores de presença e de fumaça, entre tantos outros serviços.</p>


  </div>
</section>
{{ partial "footer.html" . }}
  </div>


<!-- Scripts -->
{{ partial "scripts.html" . }}
</body>
